* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  }
html {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
.main {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

/* sidebar */

.nav-res {
  display: none;
}
.sidebar {
  background: none;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 200px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  position: fixed;
  top: 260px;
  left: -100px;
  z-index: 1;
}
.sidebar div {
  background: #ff8800;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar div a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 20px;
  color: #ffffff;
  z-index: 2;
}
.sidebar div a i {
  font-size: 1.6rem;

  z-index: 2;
}
.sidebar div:hover {
  background: #52029d;
  transform: translateX(100px);
  transition: 1s;
}

/* navbar */
.navbar {
  position: fixed;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #000000;
  padding: 30px;
  border-bottom: rgb(106, 83, 0) solid 2px;
  z-index: 2;
}
.navbar h1 {
  color: #ffb302;
  text-shadow: 3px 3px 3px #d30404;
  display: flex;
  font-weight: 800;
  font-size: 2.3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.navbar .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .redes p {
  color: #7f7f7f;
}
.navbar .redes a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  margin: 10px;
}
.navbar .redes a i {
  font-size: 1.3rem;
  color: #9602ff;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar ul li {
  margin-right: 20px;
}
.navbar ul li a {
  color: #fff;
}
.navbar ul li a:hover {
  font-weight: 700;
  color: #9500ff;
}
/* inicio */
.inicio {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #000000,
    #000000,
    #000000,
    #270d2b
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.inicio .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.inicio .container .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 30%;
}
.inicio .container .img-container img {
  height: 45%;
  width: 450px;
  border-radius: 20px;
}

.inicio .container .text-container {
  height: 40%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  padding-left: 100px;
}

.inicio .container .text-container h1 {
  font-size: 3.5rem;
  color: #fff;
  height: 50%;
  text-decoration: underline rgb(90, 90, 90);
}
.inicio .container .text-container p {
  font-size: 1.1rem;
  height: 50%;
  color: #d4d2d2;
  font-weight: 700;
}
.inicio .container .text-container a {
  color: #ffb302;
}
.inicio .container .text-container a:hover {
  color: #9602ff;
}
/* sobremi */
.sobremi-container {
  margin: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #270d2b,
    #000000,
    #000000,
    #000000,
    #000000
  );
  text-align: center;
}

.sobremi-container .sobremi {
  padding: 40px;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobremi-container .sobremi h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(95, 95, 95);
}
.sobremi-container .sobremi ul {
  list-style: none;
  padding: 100px;
}
.sobremi-container .sobremi ul li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #d4d2d2;
  margin: 20px;
}
.sobremi-container .sobremi ul li a {
  color: rgb(242, 133, 0);
}
.sobremi-container .sobremi ul li a:hover {
  text-decoration: underline;
}
.sobremi-container .cursos {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobremi-container .cursos h1 {
  font-size: 2.4rem;
  text-decoration: underline;
  text-decoration-color: rgb(95, 95, 95);
}
.sobremi-container .cursos ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
}
.sobremi-container .cursos ul li {
  height: 20%;
  font-size: 1.1rem;
  font-weight: 700;
  color: #d4d2d2;
}

/* conocimientos */
.conocimientos {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #000000,
    #270d2b,
    #270d2b,
    #000000
  );
  color: #fff;
  text-align: center;
}
.conocimientos h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(95, 95, 95);
}
.conocimientos p {
  font-size: 1.4rem;
  color: #d4d2d2;
  font-weight: 700;
}
.conocimientos .aptitudes {
  display: flex;
  flex-direction: column;
}
.conocimientos .aptitudes .tech-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.conocimientos .aptitudes .tech-list .img-container {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  box-shadow: 4px 4px 7px rgb(255, 255, 255);
}
.conocimientos .aptitudes .tech-list .img-container img {
  width: 100px;
  height: 100px;
}

/* proyectos */
.proyectos-container {
  height: 100vh;
  color: #d4d2d2;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #000000,
    #270d2b,
    #270d2b,
    #000000
  );
}
.proyectos-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(95, 95, 95);
  z-index: 1;
}
.proyectos-container .proyectos {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}
.proyectos-container .proyectos .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 7px rgb(255, 255, 255);
}
.proyectos-container .proyectos .card img {
  height: 40%;
  width: 60%;
}
.proyectos-container .proyectos .card a {
  color: #de8d00;
}

/* contacto */
.contacto {
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #000000,
    #270d2b,
    #270d2b,
    #000000
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h1 {
  margin-top: 300px;
}
.contacto .form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto .form form input {
  margin: 20px;
  width: 300px;
  height: 30px;
}
.contacto .form form textarea {
  margin: 20px;
  width: 500px;
  height: 300px;
}
.contacto .form form .submit {
  width: 150px;
  padding: 5px;
  cursor: pointer;
  background: #de8d00;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.contacto h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(95, 95, 95);
}
.contacto .contactame {
  display: flex;
  flex-direction: row;
}
.contacto .contactame a {
  text-decoration: none;
  margin-left: 20px;
  width: 100%;
  height: 100%;
}
.contacto .contactame a img {
  width: 100px;
  height: 100%;
}
@media screen and (max-width: 1300px) {
  .proyectos-container .proyectos {
    display: flex;
    width: 90%;
  }
  .proyectos-container .proyectos .card {
    display: flex;
    width: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .navbar h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1000px) {
  .navbar .redes {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .navbar i {
    display: flex;
    color: #fff;
    font-size: 2rem;
  }
  .inicio .container .img-container img {
    height: 40%;
    width: 250px;
    border-radius: 20px;
  }
  .inicio .container .text-container h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 800px) {
  .main {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .main {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .navbar {
    padding: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    width: 100%;
    padding-top: 10px;
  }
  .navbar h1 {
    font-size: 1.4rem;
    justify-content: center;
  }
  .inicio {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .inicio .container {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0;
    padding: 0;
    width: 100%;
  }
  .inicio .container .img-container {
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inicio .container .img-container img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    margin-bottom: 150px;
  }

  .inicio .container .text-container {
    padding: 0;
    margin: 0;
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .inicio .container .text-container h1 {
    font-size: 2rem;
    height: 50%;
    margin-bottom: 0;
    text-decoration: underline rgb(90, 90, 90);
  }
  .inicio .container .text-container p {
    font-size: 1rem;
    height: 50%;
    width: 100%;
    font-weight: 700;
    margin-bottom: 0;
  }
  .sobremi-container {
    height: 100%;
  }
  .sobremi-container .sobremi {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .sobremi-container .sobremi ul {
    list-style: none;
    padding: 15px;
  }

  .conocimientos {
    width: 100%;
    height: 100%;
  }

  .conocimientos p {
    margin: 20px;
  }

  .conocimientos .aptitudes .tech-list {
    width: 100%;
  }

  .conocimientos .aptitudes .tech-list .img-container {
    margin-right: 20px;
    margin-left: 20px;
    height: 80px;
  }
  .conocimientos .aptitudes .tech-list .img-container img {
    height: 40px;
    width: 40px;
  }
  .proyectos-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .proyectos-container h1 {
    margin-top: 100px;
  }
  .proyectos-container .proyectos {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .proyectos-container .proyectos .card {
    display: flex;
    height: 30%;
    width: 80%;
  }
  .proyectos-container .proyectos .card p {
    font-size: 0.9rem;
    width: 80%;
  }
  .proyectos-container .proyectos .card a {
    font-size: 1rem;
    margin: 10px;
    width: 80%;
  }
  .contacto {
    height: 100%;
    width: 100%;
  }

  .contacto .form form textarea {
    width: 300px;
    height: 200px;
  }
  .navbar i {
    cursor: pointer;
  }
  .nav-res {
    color: #fff;
    background-image: linear-gradient(
      to bottom,
      #000000,
      #000000,
      #30064d,
      #ff0080,
      #773f0b
    );
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

  .nav-res h1 {
    color: #ffb302;
    text-shadow: 3px 3px 3px #d30404;
    display: flex;
    font-weight: 800;
    font-size: 2.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .nav-res .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-res .redes p {
    font-size: 1.4rem;
  }
  .nav-res .redes a {
    font-size: 2rem;

    color: #fff;
    margin: 10px;
  }
  .nav-res ul {
    list-style: circle #ff7b00;
  }
  .nav-res ul li {
    color: #fff;
    margin: 30px;
    font-size: 2rem;
  }
  .nav-res ul li a {
    color: #fff;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    margin: 0 auto;
    height: 200px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    top: 40px;
    left: 0px;
    z-index: 1;
  }
  .sidebar div {
    background: #000000;

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .sidebar div a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    z-index: 2;
  }
  .sidebar div a i {
    font-size: 0.7rem;
    margin: 5px;
    z-index: 1;
  }
  .sidebar div a p {
    font-size: 0.7rem;
    z-index: 1;
  }
  .sidebar div:hover {
    background: #52029d;
    transform: translateX(0);
    transition: 1s;
  }
}
